.cargo
.lock

# Ignore build directory in all locations
**/build/

# Ignore install directory in all locations
**/install/

# Ignore log directory in all locations
**/log/
*.log

# Ignore all .DS_Store files
*.DS_Store

# Ignore all .log files
*.log

# Ignore target directory in all locations
**/target/
